.imgbox {
    height: 100%;
}
#center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
h5, tr{
    text-align: center;
    
}

th{
    font-size: large;
}

.plus, .delete{
    border-radius: 8px;
}
.plus:hover, .delete:hover{
    width: 50px;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover{
  background-color: #1e90ff;
}