{% extends 'menu/base.html' %}
{% block body %}
<div class="card-deck">
  <div class="row">
    <div class="col">
    <div class="card">
      <img src="https://us.123rf.com/450wm/whitestorm/whitestorm1711/whitestorm171100126/89023550-italian-pizza-with-jamon-tomato-olives-and-mushrooms.jpg?ver=6" height="10%" class="card-img-top" alt="Regular Pizzas">
      <div class="card-body">
        <h5 class="card-title">Regular Pizzas</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
      <img src="https://www.kingarthurbaking.com/sites/default/files/styles/featured_image/public/2020-05/sicilian-style-pizza.jpg?itok=_uC895HO" class="card-img-top" height="10%"alt="Sicilian Pizzas">
      <div class="card-body">
        <h5 class="card-title">Sicilian Pizzas</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAxfBsjw862vxKXXuySRTKMcgdm3hIxpTBUA&usqp=CAU" class="card-img-top" alt="Subs">
      <div class="card-body">
        <h5 class="card-title">Subs</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    </div>
    <div class="col">
    <div class="card">
        <img src="https://cf.ltkcdn.net/weddings/images/std/145316-425x266-apps.jpg" class="card-img-top" alt="Dinner Platters">
        <div class="card-body">
          <h5 class="card-title">Dinner Platters</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxAAfDtLWJqpkXlztYiY6RTXesY0KgPWJdOQ&usqp=CAU" class="card-img-top" alt="Pasta">
        <div class="card-body">
          <h5 class="card-title">Pasta</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
    <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBkR4iqnG2uDfxmJ0A-bSn4YSY0sMGBGncug&usqp=CAU" class="card-img-top" alt="Salad">
        <div class="card-body">
          <h5 class="card-title">Salad</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      </div>
    </div>
    <div class="row" style="align-content: center;">
      <div class="col">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRKul2ieocUMEtcOh6NR7bu6R3CwCkY95faHw&usqp=CAU" class="card-img-top" alt="Toppings">
        <div class="card-body">
          <h5 class="card-title">Toppings</h5>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
  </div>
{% endblock %}