{% extends 'menu/base.html' %}
{% block body %}

  <div class="card-columns" style="padding-top: 5%;">
    {% for category in categories %}
    <div class="card text-white bg-dark">
      <img class="card-img-top" src="{{ category.image.url }}" alt="Card image cap">
      <a href= "{% url 'show_items' c_name=category.category_name %}">
      <div class="card-body">
        <h5 class="card-title" style="color: cornsilk;">{{ category.category_name }}</h5>
      </div>
      </a>
    </div>
    {% endfor %}
  </div>

{% endblock %}