{% extends 'menu/navbar_extra.html' %}

{% block body %}


<table class="table table-hover" style="table-layout: fixed;">
    {% if columns == 3 %}
    <thead class="thead-dark" >
      <tr>
        <th  style="padding-top:5%"> {{ category }}</th>
        <th>Item Name</th>
        <th>Small</th>
        <th>Large</th>
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
        {% load static %}
        <td><img class="img-thumbnail" src="{{ item.image.url }}" alt="Card image cap" width="44%" height="30%" style="object-fit: cover;" ></td>
        <td>
          <h5>{{ item.item_name }}</h5>
          {% if item.max_toppings > 0 %}
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
              <select>
                <option>Select Toppings</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
              {% for t in toppings %}
              <label>
                <input type="checkbox">{{ t.item_name }}
              </label>
              {% endfor %}
            </div>
          </div>
          <!--
          <select class="toppings" multiple="multiple">
            {% for t in toppings %}
            <option value="{{ t }}">{{ t.item_name }}</option>
            {% endfor %}
          </select>
         
        -->
          {% endif %}
          <p class="maxval">{{ item.max_toppings }}</p>
        </td>  
        <td>
          <h5>${{ item.small }}</h5>
          <a href="#"><img class="plus" src="{% static 'menu/add.jpg' %}" width="40px" height="auto"></a>
          &nbsp;&nbsp;
          <a href="#"><img class="delete" src="{% static 'menu/delete.jpg' %}" width="40px" height="auto"></a>
        </td>
        <td>
          <h5>${{ item.large }}</h5>
          <a href="#"><img class="plus" src="{% static 'menu/add.jpg' %}" width="40px" height="auto"></a>
          &nbsp;&nbsp;
          <a href="#"><img class="delete" src="{% static 'menu/delete.jpg' %}" width="40px" height="auto"></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    {% endif %}
    
    {% if columns == 2 %} 
    <thead class="thead-dark">
      <tr>
        <th  style="padding-top:5%">{{ category }} </th>
        <th>Item Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td><img class="img-thumbnail" src="{{ item.image.url }}" alt="Card image cap" width="20%" height="20%" style="object-fit: cover;"></td>
        <td><h5>{{ item.item_name }}</h5></td>  
        <td>
          <h5>${{ item.price }}</h5>
          <a href="#"><img class="plus" src="{% static 'menu/add.jpg' %}" width="40px" height="auto"></a>
          &nbsp;&nbsp;
          <a href="#"><img class="delete" src="{% static 'menu/delete.jpg' %}" width="40px" height="auto"></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
    </table>
    <script>
      var limit = document.querySelector('.maxval').innerHTML;
      $("p.toppings").on('change', function(evt) {
        if($(this).siblings(':checked').length >= limit) {
            this.checked = false;
        }
      });
      
    </script>
{% endblock %}
